.about {
  padding-top: 18px;
  margin-left: 3rem;
  background-color: #acf8ff;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.about > .row > .about-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about > .row > .about-img > img {
  width: 300;
  height: 400px;
  padding: 10px;
  border-radius: 6%;
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-container h1 {
  font-family: cursive;
  color: rgb(236, 171, 92);
  border-bottom: 2px solid grey;
}
.about-container p {
  text-align: justify;
  padding: 20px;
}
