.education > .row > .heading {
  text-align: center;
  padding-left: 3.5rem;
  margin: 40px auto;
}
.education > .row > .heading > h1 {
  background: linear-gradient(90deg, rgb(118, 81, 192), rgb(49, 172, 203)) text;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
}
.education > .row > .heading > hr {
  color: #138781;
  width: 250px;
  margin: 10px auto 20px auto;
}
.education > .row > .main-container {
  padding-left: 3.5rem;
  display: flex;
}

@media screen and (max-width: 412px) {
  .education > .row > .main-container {
    padding-left: 60px;
  }
}
@media screen and (min-width: 1160px) {
  .education > .row > .main-container {
    width: 100%;
  }
}
