.sidebar-section {
  display: flex;
  /* position: fixed; */
  background-color: #000;
}
.sidebar-toggle {
  height: 100vh;
  background-color: #1e1e2c;
  width: 200px;
}
.sidebar {
  height: 100vh;
  width: 3rem;
  background-color: #1e1e2c;
}
.sidebar-toggle-icons {
  display: flex;
  align-items: right;
  justify-content: right;
  cursor: pointer;
}
.sidebar-toggle-icons,
.sidebar-toggle > p > svg {
  color: #fff;
  font-size: 2rem;
  margin-top: 0;
  border-radius: 50%;
}
